@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html, body {
        overflow: hidden;
    }

    body {
        margin: 0;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }

    code { font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace; }

    #title-bar { -webkit-app-region: drag; }

    #title-bar > * { -webkit-app-region: no-drag; }

    * { outline: none; }
}

@layer utilities {
    .flex-center { @apply flex items-center justify-center; }
    .inline-flex-center { @apply inline-flex items-center justify-center; }
    .border-br { @apply border-b border-r; }
    .fatten { scale: 2 1; }
}
