::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-button {
    display: none;
}

::-webkit-scrollbar-corner {
    display: none;
}

::-webkit-scrollbar-track {
    @apply bg-transparent;
    @apply rounded-md;
}

::-webkit-scrollbar-thumb {
    transition: background 200ms;
    @apply bg-transparent;
    @apply rounded-md;
}

::-webkit-scrollbar-thumb:hover {
    @apply bg-transparent;
}
