.Spreadsheet {
    --background-color: #101010;
    --border-color: #2a2a2a;
    --text-color: #bfc0c0;
    --readonly-text-color: #6a7b7b;
    --outline-color: #ec363688;
    --outline-background-color: #ec363666;
}

.Spreadsheet__header {
    background-color: #0a0a0a;
}

.Spreadsheet__header:first-child {
    min-width: 0;
    width: 40px;
}
